:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

/* основной текст: #434455
вторичный текст: #2E2F42

background: #FFFFFF
второй бек: #F4F4FD

Акцент: #4D5AE5 */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  color: var(--secondary-text-color);
}

.menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-email,
.contact-phone {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.contact-email:hover,
.contact-email:focus,
.contact-phone:hover,
.contact-phone:focus {
  color: var(--accent-color);
}

.hero-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;

  /* color: #ffffff; */
}

.section-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.advantage-list .title {
  color: var(--secondary-text-color);
}

.team-list .title {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}

.button {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

.button-primary {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}